<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Android">
  <parameter name="deviceType" value="Android Only" />
    <classes>
      <class name="com.cucumber.parallel.mobile.runners.Runner_home_page_feature"/>
    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
